.todo-item--checked {
    text-decoration: line-through;
}
.todo-item__description {
    flex-grow: 1;
    padding-left: 10px;
}
.todo-item__delete {
    background: #0be69d;
    border: none;
    cursor: pointer;
    width: 95px;
    padding: 10px;
}